.listPost {
    @media (max-width: 414px) {
        display: none;
    }
    .rainbowBackground {
        background: linear-gradient(270deg, #6fba82, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
        background-size: 1600% 1600%;
      
        -webkit-animation: text 10s ease infinite;
        -moz-animation: text 10s ease infinite;
        animation: text 10s ease infinite;
      
        @-webkit-keyframes text {
          0%{background-position:0% 50%}
          50%{background-position:100% 50%}
          100%{background-position:0% 50%}
        }
        @-moz-keyframes text {
          0%{background-position:0% 50%}
          50%{background-position:100% 50%}
          100%{background-position:0% 50%}
        }
        @keyframes text {
          0%{background-position:0% 50%}
          50%{background-position:100% 50%}
          100%{background-position:0% 50%}
        }
        display: inline;
      }

      .name {
        color: black;
        background: white;
        mix-blend-mode: screen;
        text-decoration: none;
        transition: 0.75s;
      }
    .card {
        background: #fff;
        width: 350px;
        height: auto;
        border-radius: 10px;
        border: 1px solid #eaeaea;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    }
    .card__image {
        position: relative;
        margin: 15px auto;
        width: 100%;
        height: 150px;
        img {
            position: relative;
            border-radius: 60px;
            display: block;
            margin: 0 auto;
            object-fit: contain;
            object-position: center;
            height: 80%;
            width: auto;
        }
        &::before {
            content: "";
            position: absolute;
            top: 50px;
            bottom: 50px;
            left: 0;
            height: 75px;
            right: 0;
            background: #f3f3f3;
        }
    }
    .card__heading {
        text-align: center;
        padding: 0px 20px;
        margin-bottom: 15px;
        h2 {
            font-family: "Playfair Display", serif;
            font-size: 42px;
            text-transform: uppercase;
            color: #222;
            margin: 0;
        }
        p {
            color: #555;
        }
    }
    .card__form {
        position: relative;
        width: 100%;
        margin-left: 30px;
        padding: 0 20px 30px 20px;
    }
    .form__input {
        padding: 5px 10px;
        width: calc(100% - 40px);
        height: 45px;
        border-radius: 10px;
        border: 1px solid #ddd;
        font-size: 20px;
        transition: 0.2s all ease-in-out;
        color: #222;
        &:hover {
            border: 1px solid #c4c4c4;
        }
        &:focus {
            outline: none;
            box-shadow: none;
            border: 1px solid #ebbc12;
        }
    }
    .form__submit {
        cursor: pointer;
        position: absolute;
        right: 60px;
        border: none;
        background-image: linear-gradient( to right bottom, #e9d133, #eacc2c, #eac724, #ebc11c, #ebbc12 );
        color: #fff;
        height: 44px;
        padding: 8px 18px;
        border-radius: 10px;
        &:hover {
            background-image: linear-gradient( to right top, #e9d133, #eacc2c, #eac724, #ebc11c, #ebbc12 );
            border: none;
            outline: none;
            box-shadow: none;
        }
        &:focus {
            background-image: linear-gradient( to right top, #e9d133, #eacc2c, #eac724, #ebc11c, #ebbc12 );
            border: none;
            outline: none;
            box-shadow: none;
        }
    }
}

